# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite3

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs
logs/
*.log

# Editor Settings
.vscode/
.idea/
.DS_Store
Thumbs.db
